<h2>Your Books</h2>
<a href="/books/new">Add New Book</a>
<ul>
    <% books.forEach(book => { %>
        <li>
            <a href="/books/<%= book._id %>"><%= book.title %></a>
            <a href="/books/<%= book._id %>/edit">Edit</a>
            <form action="/books/<%= book._id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }) %>
</ul>

