<h2>Welcome to the Book Club!</h2>
<p>Discover and share your favorite books with others.</p>

<% if (user) { %>
    <p>Hello, <%= user.name %>! Ready to explore some books?</p>
    <a href="/books">Browse Books</a>
    <a href="/books/new">Add a New Book</a>
<% } else { %>
    <p>Please <a href="/users/login">login</a> or <a href="/users/register">register</a> to start sharing your favorite books!</p>
<% } %>
