<h1>Welcome to Book Club</h1>
<p>Your place to share and discover books.</p>

<% if (!user) { %>
    <a href="/users/register">Join Now</a> or 
    <a href="/users/login">Login</a>
<% } else { %>
    <a href="/books">View Books</a>
<% } %>




