<div class="userb">
<h2><%= user.name %>'s Books</h2>
</div>
<% if (books.length > 0) { %>
    <ul>
        <% books.forEach(book => { %>
            <li>
                <h3><%= book.title %></h3>
                <p><strong>Author:</strong> <%= book.author %></p>
                <p><strong>Summary:</strong> <%= book.summary %></p>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p>No books found for this user.</p>
<% } %>

<div class="buserl">
<a href="/users/list">Back to User List</a>
</div>